node-red/node-red-SPB-flow.json
[
    {
        "id": "5fc4aadb853a9b17",
        "type": "tab",
        "label": "node-red-raspberry",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a268803a44772579",
        "type": "mqtt in",
        "z": "5fc4aadb853a9b17",
        "name": "BROKER Rpi",
        "topic": "ESIEA/#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "23a49d1cb37ff5cf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 460,
        "wires": [
            [
                "d523ad68e40d9796",
                "dd44cf80b8cfe51b"
            ]
        ]
    },
    {
        "id": "d523ad68e40d9796",
        "type": "function",
        "z": "5fc4aadb853a9b17",
        "name": "defineTopic",
        "func": "const topicArray = [\"spBv1.0\", \"ESIEA\", \"DDATA\", \"raspberry\", `esp8266_${msg.topic.split('/')[1]}`];\nmsg.topic = topicArray.join('/');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 340,
        "wires": [
            [
                "7cb555241a660982"
            ]
        ]
    },
    {
        "id": "40cc3af9e3a8d1ea",
        "type": "encode",
        "z": "5fc4aadb853a9b17",
        "name": "",
        "protofile": "13f96ca11fe07116",
        "protoType": "Payload",
        "x": 840,
        "y": 460,
        "wires": [
            [
                "deb006dabe3290e3",
                "8ff831dd63195004",
                "8594a86fb70b5016"
            ]
        ]
    },
    {
        "id": "deb006dabe3290e3",
        "type": "decode",
        "z": "5fc4aadb853a9b17",
        "name": "",
        "protofile": "13f96ca11fe07116",
        "protoType": "Payload",
        "x": 840,
        "y": 540,
        "wires": [
            [
                "3bcd34f60d4b0910"
            ]
        ]
    },
    {
        "id": "7cb555241a660982",
        "type": "function",
        "z": "5fc4aadb853a9b17",
        "name": "formatData",
        "func": "const json = `[\\\n    {\\\n        \\\"name\\\":\\ \\\"humidity\\\",\\\n        \\\"doubleValue\\\": ${msg.payload.humidity}\\\n    },\\\n    {\\\n        \\\"name\\\": \\\"temperature\\\",\\\n        \\\"doubleValue\\\": ${msg.payload.temperature}\\\n    }\\\n]`;\ndelete (msg.payload.humidity)\ndelete (msg.payload.temperature)\nmsg.payload.metrics = JSON.parse(json);\nmsg.retain = true;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 460,
        "wires": [
            [
                "40cc3af9e3a8d1ea",
                "97ea5ff291294189"
            ]
        ]
    },
    {
        "id": "3c5631fe59521d6c",
        "type": "function",
        "z": "5fc4aadb853a9b17",
        "name": "generateInput",
        "func": "const topic = \"ESIEA/grp3\";\nconst humidity = Math.round(Math.random()*1000)/10;\nconst temperature = Math.round(Math.random() * 600) / 10;\nmsg.topic = topic;\nmsg.payload = {};\nmsg.payload.humidity = humidity;\nmsg.payload.temperature = temperature;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 340,
        "wires": [
            [
                "d523ad68e40d9796",
                "dd44cf80b8cfe51b"
            ]
        ]
    },
    {
        "id": "b9fbb55738e4acde",
        "type": "inject",
        "z": "5fc4aadb853a9b17",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 340,
        "wires": [
            [
                "3c5631fe59521d6c"
            ]
        ]
    },
    {
        "id": "97ea5ff291294189",
        "type": "debug",
        "z": "5fc4aadb853a9b17",
        "name": "Output",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 340,
        "wires": []
    },
    {
        "id": "067e17c59ec434c0",
        "type": "mqtt in",
        "z": "5fc4aadb853a9b17",
        "name": "Rio",
        "topic": "#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "faac6e3cda321b4e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 660,
        "wires": [
            [
                "fd50643e7089f405"
            ]
        ]
    },
    {
        "id": "dd44cf80b8cfe51b",
        "type": "debug",
        "z": "5fc4aadb853a9b17",
        "name": "Input",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 220,
        "wires": []
    },
    {
        "id": "fd50643e7089f405",
        "type": "decode",
        "z": "5fc4aadb853a9b17",
        "name": "",
        "protofile": "13f96ca11fe07116",
        "protoType": "Payload",
        "x": 500,
        "y": 660,
        "wires": [
            [
                "0c7c44a95f45475b"
            ]
        ]
    },
    {
        "id": "0c7c44a95f45475b",
        "type": "debug",
        "z": "5fc4aadb853a9b17",
        "name": "DecodeSPBInput",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 660,
        "wires": []
    },
    {
        "id": "3bcd34f60d4b0910",
        "type": "debug",
        "z": "5fc4aadb853a9b17",
        "name": "Decode",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 540,
        "wires": []
    },
    {
        "id": "8ff831dd63195004",
        "type": "debug",
        "z": "5fc4aadb853a9b17",
        "name": "Encode",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 340,
        "wires": []
    },
    {
        "id": "8594a86fb70b5016",
        "type": "mqtt out",
        "z": "5fc4aadb853a9b17",
        "name": "Rio",
        "topic": "",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "faac6e3cda321b4e",
        "x": 1110,
        "y": 460,
        "wires": []
    },
    {
        "id": "23a49d1cb37ff5cf",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.4",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "13f96ca11fe07116",
        "type": "protobuf-file",
        "protopath": "/etc/node-red/sparkplug_b.proto",
        "watchFile": true,
        "keepCase": false
    },
    {
        "id": "faac6e3cda321b4e",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.3",
        "port": "1883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]